body {
  font-family: "Work Sans", sans-serif;
  background-color: #eae7dc;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("assets/brz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50%;
}

/*Remove Bullet Points for Unordered List*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

header {
  padding: 10px;
  margin: 50px;
  margin-bottom: 10px;
  border: 4px solid black;
  text-align: center;
  font-size: 38px;
  background-color: plum;
}

#menuLogo {
  font-size: 52px;
  text-decoration: underline;
  margin-left: 15%;
  text-shadow: 3px 3px 5px black, 3px 3px 5px white;
  color: #a59ff5;
}

.menu {
  background-color: #a59ff5;
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  margin-bottom: 10px;
  border: 4px solid black;
  border-radius: 10px;
}

.link {
  padding: 24px;
  margin: 8px;
  border: 4px solid black;
  border-radius: 10px;
  background-color: white;
  font-size: 26px;
  font-weight: bold;
}

.link:hover {
  transform: translateY(-16px);
  background-color: plum;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px;
  font-size: 34px;
  text-align: center;
  padding: 2px;
  width: fit-content;
}

#contentA {
  background-color: #f9fbdb;
  margin: 40px;
  border: 4px solid black;
  border-radius: 12px;
}

#contentB {
  background-color: #f9fbdb;
  margin: 40px;
  border: 4px solid black;
  border-radius: 12px;
}

#list {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}

#listLogo {
  text-decoration: underline;
  text-align: left;
  padding: 4px;
  text-shadow: 3px 3px 5px plum;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  transform: translateY(80px);
}

a:hover {
  background-color: powderblue;
}
